.col {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

.dayBtn {
    width: 100%;
    background: none;
    color: white;
    border-radius: 20%;
    height: 50px;
}

.daily {
    width: 50%;
    border-radius: 15%;
    background: none;
}

.complete {
    background: rgba(64, 178, 29, 0.4);
}